body {
color: white;
background: black;
margin: 0px; }
 header {
border-bottom: solid 2px rgb(23, 102, 7);
padding: 20px;
font-size: 32px;
color: rgb(43, 255, 0);
}

.chamada {
background: rgb(57, 179, 41);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
} 

h1 {
  font-size: 40px;
}
p {
  font-size: 20px;
}